<h1>Portfolio Items </h1>

<%= @portfolio_items.each do |portfolio_items| %>
	<p><%= portfolio_item.title %> </p>
	<p><%= portfolio_subtitle %> </p>
	<p><%= portfolio_item.body %> </p>
	<p><%= imsge_tag portfolio_item.thumb_imag %> </p>
        

<% end  %>
